<div id="addTeamModal" class="hidden fixed inset-0  bg-opacity-40 flex items-center justify-center z-50" style="background-color: #0000002c;">
  <div class="bg-white w-full max-w-lg rounded-2xl shadow-lg p-6">
    <div class="flex justify-between items-center mb-4">
      <h2 class="text-2xl font-bold">Update Password</h2>
      <button id="closeModalBtn" class="text-gray-500 hover:text-gray-700"><i data-lucide="x"></i></button>
    </div>

   

   <form method="POST" action="{% url 'update_password' %}">

      {% csrf_token %}
      
     
      <div class="mb-4">
        <label class="text-sm text-gray-600">Current Password</label>
        <input type="password" name="current_password" class="w-full border border-gray-200 rounded-lg px-3 py-2 mt-1 focus:ring-2 focus:ring-orange-400 outline-none" placeholder="........" />
      </div>
      <div class="mb-4">
        <label class="text-sm text-gray-600">New password</label>
        <input type="password" name="new_password" class="w-full border border-gray-200 rounded-lg px-3 py-2 mt-1 focus:ring-2 focus:ring-orange-400 outline-none" placeholder="Minimum of 8 characters" />
      </div><div class="mb-4">
        <label class="text-sm text-gray-600">Comfirm New Password</label>
        <input type="password" name="confirm_new_password" class="w-full border border-gray-200 rounded-lg px-3 py-2 mt-1 focus:ring-2 focus:ring-orange-400 outline-none" placeholder="Repeat your Password" />
      </div>



      <button type="submit" class="w-full bg-orange-400 hover:bg-orange-500 text-white py-2 rounded-lg font-semibold">
        Add
      </button>
    </form>
  </div>
</div>
